<div class="transaction-detail-container">
  <h2>Transaction Details</h2>
  
  <div *ngIf="loading">Loading...</div>
  
  <div *ngIf="!loading && transaction" class="tx-info">
    <div class="info-item">
      <label>Transaction ID:</label>
      <span>{{ transaction.id }}</span>
    </div>
    <div class="info-item">
      <label>Inputs:</label>
      <span>{{ transaction.txIns.length }}</span>
    </div>
    <div class="info-item">
      <label>Outputs:</label>
      <span>{{ transaction.txOuts.length }}</span>
    </div>
  </div>
</div>