<div class="block-detail-container">
  <h2>Block Details</h2>
  
  <div *ngIf="loading">Loading...</div>
  
  <div *ngIf="!loading && block" class="block-info">
    <div class="info-item">
      <label>Index:</label>
      <span>{{ block.index }}</span>
    </div>
    <div class="info-item">
      <label>Hash:</label>
      <span>{{ block.hash }}</span>
    </div>
    <div class="info-item">
      <label>Previous Hash:</label>
      <span>{{ block.previousHash }}</span>
    </div>
    <div class="info-item">
      <label>Timestamp:</label>
      <span>{{ block.timestamp * 1000 | date:'full' }}</span>
    </div>
    <div class="info-item">
      <label>Difficulty:</label>
      <span>{{ block.difficulty }}</span>
    </div>
    <div class="info-item">
      <label>Nonce:</label>
      <span>{{ block.nonce }}</span>
    </div>
  </div>
</div>